:root {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
}

.header {
    height: 80px;
    background-color: rgb(194, 167, 238);
    font-family: 'Pangolin', cursive;
}

.header__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.logo {
    display: flex;
    align-items: center;
    user-select: none;
}

.logo__image {
    max-width: 60px;
}

.logo__span {
    margin-left: 0.2em;
    font-family: 'Pacifico', cursive;
    font-size: 1.4em;
}

.list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin: 0;
    height: 80px;
    width: 45vw;
}

.list__link {
    display: flex;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100px;
    height: 100%;
    color: #000;
    user-select: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: color 0.2s;
    overflow: hidden;
    z-index: 0;
}

.list__link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #76c2af;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: -1;
    transition: transform 0.2s linear;
}

.list__link:hover::before {
    transform: translateX(0);
}

.list__link:hover {
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    font-family: 'Poppins', sans-serif;
    background-color: #fbda61;
    background-image: -webkit-linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
    background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.main__title {
    text-align: center;
}

.band {
    margin-left: 1em;
    margin-right: 1em;
}

.band__name {
    font-weight: 600;
}

.band__name:target {
    padding-top: 1em;
}

.band__image {
    max-width: 400px;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.band__table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

.band__table-caption {
    font-weight: 900;
    letter-spacing: 2px;
}

.band__table-head {
    background-color: #afa;
    font-weight: 600;
}

.band__table-row:nth-child(odd) .band__table-data:nth-child(even),
.band__table-row:nth-child(even) .band__table-data:nth-child(odd) {
    background-color: #ccc;
}

.band__table-row:nth-child(odd) .band__table-data:nth-child(odd),
.band__table-row:nth-child(even) .band__table-data:nth-child(even) {
    background-color: #fff;
}

.band__table-data--empty {
    background-color: none;
}

.band__table-data,
.band__table-head {
    padding: 0.5em;
}

.quote::before {
    content: '“';
}

.quote::after {
    content: '”';
}

.go-up {
    position: fixed;
    width: 3.1em;
    height: 3.1em;
    border-radius: 50%;
    background-color: #222;
    right: 20px;
    bottom: 20px;
}

.go-up::before,
.go-up::after {
    content: '';
    position: absolute;
    width: 0.25em;
    height: 1.25em;
    border-radius: 2px;
    background-color: #fff;
    top: 14px;
}

.go-up::before {
    left: 19px;
    transform: rotate(30deg);
}

.go-up::after {
    left: 27px;
    transform: rotate(-30deg);
}

.footer {
    background: #333;
    color: #aaa;
    padding: 0.5rem 0 1rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13ch;
}

.contact__envelope {
    min-width: 20px;
}
